.right {
  border-right: 2px solid black;
}
.error {
  color: red;
}
.img {
  animation: rotation 8s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.msg {
  font-size: 20px;
  font-weight: 500;
  margin-top: 8rem;
  border: 3px solid #5cb85c;
  width: 20rem;
  position: absolute;
  left: 55%;
  padding: 2rem 1rem;
}
